# Binance API Ayarları
BINANCE_API_KEY=eFaok0MqMqfnFUPTSDISTreH2VFovGz9ei2V7SozfuojQIxcJXEyyEqWUV64PGHe
BINANCE_API_SECRET=Z6OPtWUKp2uKRE8qYyszN3bO9CXKAzwoJzUD3780T2cXFihMg0kS5mHWLHAhmz1N
BINANCE_KEY=eFaok0MqMqfnFUPTSDISTreH2VFovGz9ei2V7SozfuojQIxcJXEyyEqWUV64PGHe
BINANCE_SECRET=Z6OPtWUKp2uKRE8qYyszN3bO9CXKAzwoJzUD3780T2cXFihMg0kS5mHWLHAhmz1N
# Testnet kullanımı (true/false)
USE_TESTNET=false

# HTTP Server Ayarları  
HTTP_PORT=8000
HTTP_HOST=0.0.0.0



# Güvenlik (üretim için)
SECRET_KEY=MySuper_Secret_Key_2024_Grid_Bot_XYZ78911

# === TELEGRAM BOT AYARLARI === 
TELEGRAM_BOT_TOKEN=6282292671:AAHIeJrqD0cjzxrKQw2JEQ7yamGzx74XuJY
TELEGRAM_CHAT_ID=1515615581


# Sadece önemli loglar (üretim için)
#LOG_LEVEL=WARNING

# Tüm loglar (geliştirme için)
#LOG_LEVEL=INFO

# Debug logları (detaylı analiz için)
#LOG_LEVEL=DEBUG  


# Debug loglarını kapat (varsayılan - üretim için)
#DCA_DEBUG_ENABLED=false

# Debug loglarını aç (geliştirme için)
#DCA_DEBUG_ENABLED=false

# Log Ayarları (opsiyonel)  LOG_LEVEL=WARNING
LOG_LEVEL=WARNING 
DCA_DEBUG_ENABLED=false
    

